<%= render 'shared/navbar' %>

<div class="container show">
  <div class="col-md-6 offset-3">
    
    <div style="width: 400px; height: auto">
      <%= image_tag(@article.image, style: 'width: 100%', class: "show-img")  %>
    </div>

    <div class="show-title" style="text-align: center">
     <%= @article.title %>
    </div>

    <%= @article.text %>

    <div class="comments">
      Comments
    </div>

    <%= render @article.comments %>

    <%= render 'comments/form' %>

    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Back', articles_path %>
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>

  </div>
</div>


